.options {
  /* background-color: transparent; */
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* height: 20rem; */
}

.text,
.voice {
  text-decoration: none;
  color: var(--color-accent);
  width: 400px;
  height: 200px;
  font-size: 7rem;
  border: 2px solid grey;
  padding-top: 2rem;
  border-radius: 5px;
  text-align: center;
}

.voice {
  margin-top: 1rem;
}

.text {
  color: #fb4264;
  text-shadow: 0 0 3vw #f40a35;
}

.voice {
  color: #426dfb;
  text-shadow: 0 0 3vw #2356ff;
}

.text {
  animation: text 2s ease infinite;
  -moz-animation: text 2s ease infinite;
  -webkit-animation: text 2s ease infinite;
}

@keyframes text {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.voice {
  animation: voice 2s linear infinite;
  -moz-animation: voice 2s linear infinite;
  -webkit-animation: voice 2s linear infinite;
  -o-animation: voice 2s linear infinite;
}

@keyframes voice {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}
